/**Extra small devices (portrait phones, less than 576px)
 No media query since this is the default in Bootstrap

 Small devices (landscape phones, 576px and up)**/
@media (min-width: 576px) and (max-width:767px) { 
    .article{
        min-height: 170px;
    }
    .add{
        background-color: #6FA8DC;
        min-height: 172px;
        margin-top: 24px;
    }
    .content_com{
        min-height: 400px;
    }
    .listing{
        min-height: 150px;
    }
    .pad_left{
        padding-left: 0px;
    }
    .sidebar{
        margin-top: 15px;
        min-height: 130px;
    }
    .sidebar_features{
       min-height: 100px; 
    }

}

/** Medium devices (tablets, 768px and up)**/
@media (min-width: 768px) and (max-width:991px) { 
    .article{
        min-height: 170px;
    }
    .add{
        background-color: #6FA8DC;
        min-height: 172px;
        margin-top: 24px;
    }
    .listing{
        
    }
    .pad_left{
        padding-left: 0px;
    }
    .sidebar{
        margin-top: 15px;
        min-height: 130px;
    }
    .sidebar_features{
       min-height: 100px; 
    }

}

/** Large devices (desktops, 992px and up)**/
@media (min-width: 992px) and (max-width:1199px) { 

}

/** Extra large devices (large desktops, 1200px and up)**/
@media (min-width: 1200px) { 

}